.services__container {
  display: flex;
  gap: 0 80px;
  padding-top: 12rem;
}
.services_right_side-footer {
  display: flex;
  gap: 8rem;
}
.services_right_side-footer-row1 {
  padding: 2rem 0;
}
.services_right_side-footer-row2 {
  padding: 2rem 0;
}
.services__watch-video {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  top: -53rem;
  left: 5rem;
}
.services__watch-video img {
  border-radius: 12px;
}
.services_people img {
  z-index: -1;
  border-radius: 12px;
}

@media screen and (max-width: 950px) {
  .services__container {
    flex-direction: column-reverse;
    gap: 0 12px;
  }

  .services_left_side {
    position: relative;
    left: 3rem;
    padding-top: 9rem;
  }

  .services__watch-video {
    left: -10rem;
  }
  .services__watch-video img {
    height: 160px;
    width: 220px;
  }
  .services_people {
    max-width: 470px;
    max-height: 470px;
    width: auto;
    height: auto;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 481px) {
  .services__watch-video {
    top: -35rem;
    left: -1rem;
  }
  .services__watch-video img {
    height: 9rem;
    width: 12rem;
  }
  .services_people {
    max-width: 300px;
    max-height: 370px;
    position: relative;
    left: -3rem;
  }
  .services_right_side-footer {
    flex-direction: column;
    gap: 0rem;
  }
   .services__container {
    padding: 0 4rem;
   }
}

@media screen and (max-width: 380px) {
  .services_people {
    max-width: 270px;
    max-height: 370px;
  }
  .services__watch-video {
    top: -28rem;
    left: -2rem;
  }
  .services__watch-video img {
    height: 90px;
    width: 120px;
  }
}

@media screen and (max-width: 320px) {
  .services_people {
    max-width: 250px;
    max-height: 370px;
  }
  .services__watch-video {
    left: 0.3rem;
  }
}
