.newsletter__container {
  padding: 10rem 0;
}

.newsletter_content-heading h1 {
  font-family: var(--p-font);
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 5rem;
  text-align: center;
  color: #313131;
  padding-bottom: 3rem;
}
.newsletter_content-p p {
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #828282;
  padding-bottom: 5rem;
  width: 512px;
}
.newsletter_input {
  width: 430px;
  height: 74px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  font-family: var(--p-font);
  font-size: 16px;
  line-height: 19px;
  color: #afafae;
  padding: 3rem;
  border-radius: 1.5rem;
}
.newsletter_button {
  width: 150px;
  height: 48px;
  font-family: var(--p-font);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: var(--primary-color);
  color: #ffffff;
  outline: transparent;
  border: none;
  margin-left: -16rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .newsletter_content-p p {
    width: 320px;
    font-size: 1.4rem;
    line-height: 2.2rem
  }
  .newsletter_input {
    width: 290px;
    height: 65px;
    font-size: 1.4rem;
  }
  .newsletter_button {
    width: 80px;
    height: 45px;
    margin-left: -9rem;
    font-size: 1.2rem;
  }
  .newsletter_content-heading h1 {
    font-size: 2.4rem;
  }
 .newsletter__container {
  padding: 6rem 0;
}
}
