.constant__subheading p {
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 2rem;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-bottom:1.5rem;
}
.constant__heading h2 {
  font-family: var(--p-font);
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4.8rem;
  color: #313131;
  padding-bottom:3rem;
}
.constant__p p {
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--text-color);
}
.head{
    text-align: center;
    padding: 4rem 2rem;
}

@media screen and (max-width: 1050px) {
.head{
        padding: 4rem 0;
    }
    .head__heading h2 {
        font-size: 3rem;
        line-height: 4.2rem;
    }
    .head__p p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}
@media screen and (max-width: 481px) {
    .head{
        padding: 2rem 0;
    }
    .head__heading h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}