.side_image {
  position: absolute;
  z-index: -1;
  margin-top: -7rem;
  margin-left: 22rem;
}
.home_content {
  display: flex;
  z-index: 1;
}
.home_left_side {
  display: flex;
  flex: 1.3;
}
.home_left_side__p p {
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
}
.home_left_side__head h1 {
  font-family: var(--head-font);
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.4rem;
  color: #000000;
  padding: 2rem 0;
}
.home_left_side__head p {
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--text-color);
  padding: 2rem 0;
  /* here the first fixed width*/
  width: 52rem;
}
.home_left_side__cta {
  display: flex;
  gap: 0 2rem;
}

.home_left_side__cta__get-started {
  background: var(--primary-color);
  border-radius: 5px;
  width: 22rem;
  height: 7rem;
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: transparent;
}
.home_left_side__cta__get-started:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}
.home_left_side__cta__watch-video {
  width: 220px;
  height: 70px;
  border: 1px solid #21a099;
  border-radius: 5px;
  font-family: var(--p-font);
  font-style: normal;
  background: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
}
.home_left_side__cta__watch-video:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}
.home_right_side {
  display: flex;
  gap: 2rem;
  flex: 1;
}
.right_side_photos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.photo {
  box-shadow: 0px 2px 4px rgba(23, 39, 111, 0.3);
}
.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

@media screen and (max-width: 1800px) {
  .side_image {
    margin-top: -7rem;
    margin-left: 26.7rem;
  }
}
@media screen and (max-width: 1400px) {
  .side_image {
    position: absolute;
    z-index: -1;
    margin-top: -7rem;
    margin-left: 22rem;
  }
}
@media screen and (max-width: 1050px) {
  .side_image {
    margin-top: -15rem;
    margin-left: 6rem;
  }
  .home_left_side__head h1 {
    font-size: 5.5rem;
    line-height: 6.2rem;
  }
  .home_left_side__cta {
    padding: 3rem 0;
  }

  .home_left_side__cta__get-started {
    width: 170px;
    font-size: 1.6rem;
  }
  .home_left_side__cta__watch-video {
    width: 170px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 850px) {
  .side_image {
    margin-top: -8rem;
    margin-left: 8.9rem;
    width: 530px;
  }
  .home_content {
    padding: 2rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 481px) {
  .side_image {
    margin-top: -8rem;
    margin-left: 6.5rem;
    width: 27.5rem;
    z-index: -1;
  }
  .home_left_side__head h1 {
    font-size: 4.5rem;
    line-height: 6.2rem;
  }
  .home_left_side__head p {
    width: auto;
    font-size: 1.4rem;
  }
  .home_left_side__cta {
    display: flex;
    gap: 10px;
  }
  .home_left_side__cta__get-started {
    width: 130px;
    height: 60px;
    font-size: 1.4rem;
  }
  .home_left_side__cta__watch-video {
    width: 130px;
    height: 60px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 360px) {
  .side_image {
    margin-top: -7rem;
    margin-left: 4.7rem;
    width: 20.5rem;
  }
}
